.card-wrapper {
    position: relative;
    z-index: 2;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(215, 177, 95, 0.25);
    width: 50%;
    padding: 2rem 1.5rem;
    border-radius: 1.2rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    @media (max-width: 1200px) {
        width: 65%;
    }

    @media (max-width: 900px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 100%;
        border-radius: 0.8rem;
        padding: 1.5rem 1rem;
    }

    footer {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #ffffff;

        >a {
            color: var(--lg-gold);
            text-decoration: none;
        }
    }
}