main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(0.35) contrast(1.1);
    }

    button {
        background: var(--lg-gold-dark);
        border: none;
        text-align: center;
        padding: 20px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
}